* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: my2font;
}
html {
  font-size: 15px;
}

body {
  background-color: #0a0c1b;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  width: 375px;
  text-align: center;
  font-family: my1font;
  min-height: 950px;
}

.container {
  color: #fff;
}
.image {
  height: 32%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

h2 {
  font-size: 2rem;
  padding: 2rem 3.4rem;
  letter-spacing: -1px;
  font-weight: 700;
}

h2 span {
  color: hsl(277, 64%, 61%);
  cursor: pointer;
}

.container p {
  color: hsla(0, 0%, 100%, 0.75);
  padding: 0rem 4rem;
}

.like {
  margin-top: 2em;
  font-family: my2font;
}

.Top {
  font-family: my2font;
  font-size: 1.7rem;
  font-weight: bold;
}

.Num + .Num {
  margin-top: 3em;
}

.Top {
  margin: 10px;
}
